[Unit]
Description=Telegram bot 'Stitch'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/den/Telegram_bot
ExecStart=/usr/bin/python3 /home/den/Telegram_bot/Core/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target